---
- block:
  - name: Install must have tools and packages
    apt:
      name: "{{ item }}"
      state: present
    loop:
    - vim
    - curl
    - dnsutils
    - binutils
    - psmisc
    - linux-headers-amd64
    - apt-transport-https
    - ca-certificates
    - python3-psycopg2
    - gettext
    - ffmpeg
    - tmux
    - moc
    - bzip2
    - zip
    - tree
    - unrar
    - unrar-free
    - whois
    - net-tools
    - arping
    - sshpass
    - rsync
    - ntfs-3g
    - xxd
    - xclip
    - sqlite3

  - name: Install MTP utils
    apt:
      name: "{{ item }}"
    loop:
    - mtp-tools
    - jmtpfs
    - libmtp9
    - libmtp-runtime
    - libmtp-common

  - name: Troubleshooting and debugging tools
    apt:
      name: "{{ item }}"
      state: present
    loop:
    - nmap
    - strace
    - ltrace
    - htop
    - atop
    - ethtool
    - sysstat # This installs iostat

  - name: Development tools
    apt:
      name: "{{ item }}"
      state: present
    loop:
    - build-essential
    - cmake
    - nasm
    - jq
    - tig

  - name: Extra tools CLI
    apt:
      name: "{{ item }}"
      state: present
    loop:
    - lynx
    - redshift
    - pwgen
    - dict

  - name: Must have desktop tools
    apt:
      name: "{{ item }}"
      state: present
    loop:
    - pavucontrol
    - vlc
    - evince
    - file-roller
    - ghex
    - gnome-font-viewer
    - gnome-system-monitor
    - gparted
    - gimp
    - guvcview
    - hardinfo
    - kazam
    - krdc
    - kupfer
    - flameshot
    - peek
    - meld
    - transmission
    - wireshark
    - inkscape
    - xchm
    - gnote
    - zenity

  - name: Create user tmp directory
    file:
      path: "/home/{{ ansible_user }}/tmp"
      state: directory
      owner: "{{ ansible_user }}"
      group: "{{ ansible_user }}"
      mode: 0755

  - name: Create directory for custom bash configurations
    file:
      path: "/home/{{ ansible_user }}/.my-bash-confs"
      state: directory
      owner: "{{ ansible_user }}"
      group: "{{ ansible_user }}"
      mode: 0755

  - name: Create loader for own bash configurations
    copy:
      src: templates/config-loader.sh
      dest: "/home/{{ ansible_user }}/.config-loader.sh"
      owner: "{{ ansible_user }}"
      group: "{{ ansible_user }}"
      mode: 0644

  - name: Add bash configuration loader to bashrc file for user
    ansible.builtin.lineinfile:
      path: "/home/{{ ansible_user }}/.bashrc"
      line: "source ~/.config-loader.sh"
      owner: "{{ ansible_user }}"
      group: "{{ ansible_user }}"

  - name: Add miscellaneous shell configuration for different utilities
    copy:
      dest: /home/{{ ansible_user }}/.my-bash-confs/00-common.rc
      content: |
        # Created by roles/common/tasks/main.yml

        # This is used by mycli and pgcli utilities to show
        # tables in a better format
        export LESS="-SRXF"

        # This is used by lynx browser to set default configuration
        alias lynx='lynx -vikeys -accept_all_cookies -image_links'
      owner: "{{ ansible_user }}"
      group: "{{ ansible_user }}"

  # COMMENTED UNTIL I FIGURE OUT HOW TO INSTALL
  # THESE TOOLS IN GLOBAL PYTHON ENVIRONMENT AND
  # NOT THE VIRTUALENV THAT EXECUTES THIS
  # ANSIBLE PLAYBOOK.
  # - name: Install pip tools
  #   pip:
  #     name: "{{ item }}"
  #     state: present
  #   loop:
  #   - mycli
  #   - pgcli
  #   - litecli
  #   - youtube-dl
  #   - yt-dlp
  #   - wpm
  #   - tabulate
  #   - sshuttle
